.not-found {
    max-width: 850px;
    margin: 2rem auto;
    text-align: center;
}

.not-found h1 {
    font-size: 2rem;
    color: var(--color-text-primary);
    margin: 0;
}

.not-found p {
    color: var(--color-text-secondary);
    margin: 0;
}

.not-found a {
    color: var(--color-text-secondary);
    gap: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3rem;
}