.sidebar-card {
    display: flex;
    align-items: center;
    gap: 0.85rem;

    padding: 0.75rem;
    border-radius: var(--border-radius);

    background-color: var(--color-bg-tertiary);

    transition: background-color 0.2s ease,
    transform 0.15s ease;
    cursor: pointer;
}

.sidebar-card:hover {
    background-color: var(--color-accent);
}

.sidebar-card-image {
    width: 42px;
    height: 42px;
    object-fit: cover;

    border-radius: var(--border-radius);
    flex-shrink: 0;
}

.sidebar-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    min-width: 0;
}

.sidebar-card-title {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-text-primary);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-card-date {
    font-size: 0.7rem;
    color: var(--color-text-secondary);
}

.sidebar-card-latest {
    background-color: transparent;
    color: var(--color-text-primary);
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease, transform 0.15s ease;
    display: flex;
    border: 1px var(--color-border) solid;
    align-items: center;
}

.sidebar-card-latest .sidebar-card-date,
.sidebar-card-latest .sidebar-card-title {
    color: var(--color-text-primary);
}

.sidebar-card-latest:hover {
    background-color: var(--color-accent-hover);
}