.home-sidebar {
    width: 320px;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    justify-content: flex-end;
    border-top: none;
    gap: 1rem;
}

.sidebar-title {
    font-size: 1.2rem;
    font-family: "Bowlby One", sans-serif;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: var(--color-text-primary);
    margin-top: 0.75rem;
}

@media (max-width: 900px) {
    .home-sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--color-border);
    }
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    flex-grow: 1;
    gap: 1rem;
}

.sidebar-content > * {
    flex: 1 1 auto;
}