.song-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 6px;
    box-sizing: border-box;
}

.song-image-wrapper {
    flex: 0 0 auto;
}

.song-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid var(--color-text-dark);
}

.song-details {
    flex: 1;
    min-width: 0;
}

.track-details > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    color: var(--color-text-dark);
}

.song-title {
    margin: 0 0 0.5rem 0;
    font-size: 1.75rem;
    color: var(--color-bg-primary);
}

.song-artist,
.song-album,
.song-description {
    margin: 0.25rem 0;
    font-size: 1.2rem;
}

.song-album {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
}

.song-metainfo {
    justify-self: end;
    align-self: end;
}

@media (max-width: 700px) {
    .song-card {
        flex-direction: column;
        text-align: center;
    }

    .song-image {
        width: 200px;
        height: 200px;
    }
}