.home-layout {
    display: flex;
    flex: 1;
}

.home-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

@media (max-width: 900px) {
    .home-layout {
        flex-direction: column;
    }
}