.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-main {
    flex: 1;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}