.today-song-header {
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-text-dark);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.today-song {
    color: var(--color-bg-primary);
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 0;
}

.today-song-title {
    font-weight: 800;
}

.today-song-day {
    font-size: 1.4rem;
    font-style: italic;
}

@media (max-width: 768px) {
    .today-song-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0.5rem;
        gap: 1rem;
    }
}
