.layout-header {
    display: flex;
    align-items: center;
    padding: 1rem 2.2rem;
    border-bottom: 1px solid var(--color-border);
    justify-content: space-between;
}

.layout-title {
    font-family: "Bowlby One", sans-serif;
    letter-spacing: 4px;
    color: var(--color-text-primary);
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.layout-header-right {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.layout-username {
    font-size: 1.2rem;
    color: var(--color-text-secondary);
}

.layout-logout-button {
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 500;

    background-color: var(--color-bg-tertiary);
    color: var(--color-text-primary);
    border: 1px solid var(--color-border);

    padding: 0.4rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease;
}

.layout-logout-button:hover {
    background-color: var(--color-accent);
}