.song-of-day-entry-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-border);
    padding-top: 1rem;
}

.log-song-confirmation-entry-footer-confirm {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.log-song-confirmation-confirm-btn {
    margin-right: 0.5rem;
}