.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-text-dark);
    border-radius: var(--border-radius);
}